* {
    /*
     padding: 0;
      margin: 0;
      */
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
}

.header {
    background-color: #ff2fa1;
    padding: 30px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 50px;
    font-weight: bold;
}

.header span {
    margin-left: 20px;
    font-style: italic;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer a {
    color: #ff2fa1;
    text-decoration: none;
}
/* INTRO SECTIE */
.intro {
    display: flex;
    gap: 20px;
    padding: 30px;
    background-color: #ff2fa1;
    color: #000;
    align-items: flex-start;
}

.intro article {
    background-color: #ff4fb5;
    padding: 20px;
    border-radius: 15px;
    flex-shrink: 0;
}

.intro-text {
    width: 25%;
    flex-shrink: 0;
}

.intro-photo {
    width: 35%;
    flex-shrink: 0;
    text-align: center;
}

.intro-contact {
    width: 25%;
    flex-shrink: 0;
}

.intro-photo img {
    width: 100%;
    border-radius: 20px;
    max-width: 250px;
    display: block;
}

.badge {
    background-color: #6b2fb5;
    color: white;
    padding: 8px 12px;
    margin-top: -35px;
    border-radius: 50%;
    display: inline-block;
    font-weight: bold;
    font-size: 11px;
    position: relative;
    z-index: 10;
}

.intro h2 {
    margin-top: 0;
    font-size: 20px;
}

.intro p {
    line-height: 1.6;
    margin: 10px 0;
    font-size: 14px;
}